.colabos-contenedor-principal {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "titulo"
    "boton"
    "texto"
    "galeria";
  align-items: center;
  padding: 0 4%;
  gap: 2rem 0;
}

.texto-colabos {
  grid-area: texto;
  max-width: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  color: #2F5592;
}

.texto-colabos p {
    font-family: 'Montserrat';
    max-width: 650px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 80px;
}

.galeria-colabos-secundaria {
    grid-area: galeria;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    padding: 0 4%;
    margin-top: 2rem;
    gap: 4rem;
    margin-left: -40px;
    margin-bottom: 0;
    transition: opacity 0.3s ease-in-out;
}

.galeria-colabos-secundaria.hidden-gallery {
    opacity: 0;
}

.colabos-btn {
    grid-area: boton;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: -90px;
  } 

.btn-colabos {
    background-color: #FDEDCC;
    color: #2F5592;
    border: 2px solid #2F5592;
    padding: 0.20rem 1rem;
    font-size: 1.1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 60px;
}

.btn-colabos.active {
    background-color: #2F5592;
    color: #FDEDCC;
    border: 2px solid #2F5592;
}

.colabos-fade-in-image {
    width: 300px; 
    height: 300px;
    object-fit: cover;
    opacity: 0; 
    transform: translateY(0);
    transition: opacity 0.8s ease-out; 
}

.colabos-fade-in-image.visible {
    opacity: 1;
    transform: translateY(0);
}

.colabos-title {
  grid-area: titulo;
  display: block;
  margin: 0 auto;
  width: 330px;
  height: auto;
  margin-top: 50px;
  margin-bottom: -70px;
}
