.hoy-container {
  height: 100vh;
  padding: 80px 40px;
  width: 100%;
  box-sizing: border-box;
}

.hoy-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%; 
  height: auto;
}

.hoy-texto {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #2F5592;
  max-width: 800px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
  margin-top: 30px;
}

.hoy-title {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: auto;
}