.isla-cafe-section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  gap: 4rem;
}

.isla-cafe-arriba {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 7.5rem;
}

.text-container {
  color: black;
  max-width: 550px;
  text-align: left;
  margin-right: 7rem;
}

.cafe-title {
  font-family: 'Gliker';
  font-size: 2rem;
}

.cafe-text {
  font-family: 'Montserrat';
  font-size: 1.2rem;
}

.ver-mas-button {
  padding: 6px 16px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.ver-mas-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.477);
}

.imagen-isla-cafe img {
  max-width: 300px;
  height: auto;
}

.isla-cafe-galeria {
  display: flex;
  justify-content: center;
  gap: 5.5rem;
  width: 100%;
}

.isla-cafe-galeria img {
  max-width: 300px;
  height: 250px;
  filter: brightness(90%);
}

.fade-in-image {
  opacity: 0;
  transform: translateY(20px);
  transition: none;
}

.start-fade-in {
    animation: fadeInSlideUp 0.8s ease-out forwards;
}

.fade-in-image.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
  .isla-cafe-section {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    min-height: auto;
  }
  .isla-cafe-arriba {
    flex-direction: column;
    gap: 2rem;
  }
  .text-container {
    margin: 0;
    max-width: 90%;
    text-align: center;
  }
  .imagen-isla-cafe {
    max-width: 90%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 0 auto;
  }
  .cafe-title {
    font-size: 1.5rem;
  }
  .cafe-text {
    font-size: 0.9rem;
  }
  .ver-mas-button {
    font-size: 0.9rem;
    padding: 5px 12px;
  }
  .isla-cafe-galeria {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .isla-cafe-galeria img {
  max-width: 200px;
  height: 100px;
  filter: brightness(90%);
}
}

@media (min-width: 769px) and (max-width: 1024px) {
  .isla-cafe-section {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem 2rem;
  }
  .isla-cafe-arriba {
    gap: 3rem;
  }
  .text-container {
    margin-right: 2rem;
    max-width: 400px;
    text-align: center;
  }
  .imagen-isla-cafe img {
    max-width: 350px;
    padding-left: 3rem;
  }
  .cafe-title {
    font-size: 1.75rem;
  }
  .cafe-text {
    font-size: 1rem;
  }
  .ver-mas-button {
    font-size: 1rem;
    padding: 5px 14px;
  }
  .isla-cafe-galeria img {
  max-width: 200px;
  height: 150px;
  filter: brightness(90%);
}
}