.timeline-container {
    position: fixed; 
    top: 0;
    left: 0; 
    width: 200px; 
    height: 100vh;
    padding-top: 100px;
    z-index: 1000;
}

.timeline-linea-fondo {
    position: absolute;
    top: 0;
    left: 45px;
    height: 100%;
    width: 3px;
    background-color: #ccc;
    z-index: 1;
}

.timeline-linea-progreso {
    position: absolute;
    top: 0;
    left: 45px;
    height: 100%; 
    width: 3px;
    background-color: #2F5592; 
    z-index: 2;
}

.timeline-label {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.timeline-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    align-items: flex-start;
}

.timeline-linea {
    position: absolute;
    top: 0;
    left: 45px;
    height: 100%;
    width: 3px;
    background-color: #2F5592;
    z-index: 1;
}

.timeline-item {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: #333;
    padding-left: 10px;
    transition: color 0.3s ease;
    margin-left: 55px; 
    flex-direction: row;
    position: relative; 
}

.timeline-dot {
    width: 17px;
    height: 17px;
    background-color: #FDEDCC;
    border: 3px solid #2F5592;
    border-radius: 50%;
    z-index: 10; 
    transition: all 0.3s ease;
    position: absolute; 
    left: -17px;
    margin: 0; 
}

.timeline-label-img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.img-0 {
    max-width: 45px;
    max-height: 30px;
}

.img-1 {
    max-width: 45px;
    max-height: 30px;
}

.img-2 {
    max-width: 70px;
    max-height: 30px;
}

.img-3 {
    max-width: 55px;
    max-height: 35px;
}

.img-4 {
    max-width: 75px;
    max-height: 40px;
}

.img-5 {
    max-width: 100px;
    max-height: 50px;
}

.img-6 {
    max-width: 100px;
    max-height: 40px;
}

.img-7 {
    max-width: 80px;
    max-height: 40px;
}

.img-8 {
    max-width: 90px;
    max-height: 40px;
}

.timeline-item.active .timeline-dot {
    width: 25px;
    height: 25px;
    background-color: #2F5592;
    border-color: #2F5592;
    left: -21px; 
}

.timeline-item.active .timeline-label {
    font-weight: 700;
    color: #000;
}