.scroll-container-horizontal-wrapper {
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.scroll-container-horizontal {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.section {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .scroll-container-horizontal-wrapper {
    overflow-x: scroll;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .scroll-container-horizontal-wrapper {
    overflow-x: hidden;
  }
}