.valores-section {
    padding: 2rem 0;
}

.valores-title {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
}

.valores-title {
    font-family: 'Gliker';
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.valores-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; 
    align-items: flex-start;
    text-align: center;
    gap: 1rem;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.valor-card {
    width: 200px; 
    min-width: 180px;
    flex-shrink: 0;
    margin-bottom: 2rem;
}

.valor-card-title {
    font-family: 'Gliker';
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #2F5592;
}

.valor-card-text {
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 1.4;
    width: 100%; 
    padding: 0 5px;
}

.valor-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    transition: transform 0.3s;
}

.valor-card-img-wrapper {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto 1rem auto;
}

.valor-card-link {
    text-decoration: none;
    color: inherit;
}

.valor-card-link:hover .valor-card {
    cursor: pointer;
}

.hover-img-autentico {
    width: 130px;
}

.hover-img-calidad {
    width: 130px;
    height: auto;
}

.hover-img-comunidad {
    width: 130px;
}

.hover-img-sostenibilidad {
    width: 130px;
    object-fit: contain;
}